# Question 22

In [1]:
%reload_ext sql

In [2]:
%sql sqlite://

UsageError: Line magic function `%sql sqlite://` not found.

In [3]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('weather.db')

# Insert data into Weather table if it doesn't exist
data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

# Create Weather table and insert data
conn.executescript('''
    CREATE TABLE IF NOT EXISTS Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    );
    INSERT OR REPLACE INTO Weather VALUES (1, '2015-01-01', 10);
    INSERT OR REPLACE INTO Weather VALUES (2, '2015-01-02', 25);
    INSERT OR REPLACE INTO Weather VALUES (3, '2015-01-03', 20);
    INSERT OR REPLACE INTO Weather VALUES (4, '2015-01-04', 30);
''')
conn.commit()

# Define SQL query to find dates' Id with higher temperatures compared to previous dates
sql_query = '''
            SELECT w.id
            FROM Weather w
            JOIN Weather w_prev ON w_prev.recordDate = DATE(w.recordDate, '-1 day')
            WHERE w.temperature > w_prev.temperature
            '''

# Execute SQL query and fetch result
result = pd.read_sql_query(sql_query, conn)

# Close database connection
conn.close()

# Display the result
print(result)

OperationalError: database is locked